body {
  background-color: rgb(213, 162, 231);
}

h1 {
  text-align: center;
}

h2 { 
  text-align: center;
}

.paragraph {
  color: rgb(0, 0, 0);
  background-color: rgb(169, 169, 169);
  border-color: black;
  border: 10px;
  border-style: solid;
}


img {
  display: block;
  float: left;
  width: 400px;
  border: black;
  border-width: 10px;
  border-style: solid;
  box-sizing: border-box;
  padding: 1%;
  margin-right: 25px;
  
}

.about {
  float: left;
  font-size: medium;
  font: small;;
  color: rgb(4, 127, 13)

}
